/* Michael Olson's tweaked Muse stylesheet

   Elements for most of my web site.
*/

/* Footnote */

.navfoot hr {
  margin-bottom: 0;
  padding: 0;
}

.navfoot table {
  border-spacing: 0;
  border-width: 0;
  clear: right;
  margin: 0;
  padding: 0;
}

.navfoot td {
  border-spacing: 0;
  border-width: 0;
  margin: 0;
  padding: 0;
}

/* Table of Contents */

dl.contents {
  background-color: #7cfc00;    /* lawn green */
  display: block;
  float: left;
  font-size: small;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 5px;
}

dt.contents {
  clear: left;
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

.contents dd dt.contents {
  display: list-item;
}

.contents a:hover { 
  background-color: #20b2aa;    /* light sea green */
}

/* Planner */

.taskA { color: red }

.taskB { color: green }

.taskC { color: navy }

.taskX {
  color: #696969;               /* dim gray */
  text-decoration: line-through;
}

/* Source coloring */

.builtin {
  /* font-lock-builtin-face */
  color: #9370db;
}

.comment {
  /* font-lock-comment-face */
  color: #b22222;
}

.constant {
  /* font-lock-constant-face */
  color: #b8860b;
}

.doc {
}

.function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}

.keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
  
.string {
  /* font-lock-string-face */
  color: #228b22;
}
