Source: muse-el
Section: web
Priority: optional
Maintainer: Michael W. Olson (GNU address) <mwolson@gnu.org>
Build-Depends-Indep: debhelper (>> 3.0.0), texinfo
Standards-Version: 3.6.2

Package: muse-el
Architecture: all
Depends: emacs21 | xemacs21 (>= 1.4.14) | emacsen
Description: Maintain a local Wiki using Emacs-friendly markup
 Emacs Muse is an authoring and publishing environment for Emacs.  It
 simplifies the process of writings documents and publishing them to
 various output formats.
 .
 Muse consists of two main parts: an enhanced text-mode for authoring
 documents and navigating within Muse projects, and a set of publishing
 styles for generating different kinds of output.
