Source: muse-el
Section: web
Priority: optional
Maintainer: Michael W. Olson (GNU address) <mwolson@gnu.org>
Build-Depends: debhelper (>> 4.0.0)
Build-Depends-Indep: texinfo, tetex-bin, emacs21 | emacsen
Standards-Version: 3.7.2

Package: muse-el
Architecture: all
Depends: emacs21 | xemacs21 (>= 1.4.14) | emacsen
Description: Author and publish projects using Wiki-like markup
 Emacs Muse is an authoring and publishing environment for Emacs.  It
 simplifies the process of writings documents and publishing them to
 various output formats, such as DocBook, LaTeX, (X)HTML, TexInfo, and
 PDF.  It can even produce content suitable for blogging, such as
 Blosxom-style .txt files and RDF or RSS 2.0 feeds, using the
 muse-blosxom and muse-journal modules.
 .
 Muse consists of two main parts: an enhanced text-mode for authoring
 documents and navigating within Muse projects, and a set of publishing
 styles for generating different kinds of output.
